<div class="dark-bkg">
  <div class="centered-container">
    <div class="title-screen">
      <h1>Welcome to a new</h1>
      <h1>Adventure</h1>
      <div class="menu">
        <% if current_user %>
          <%= link_to "Profile", "/profile", class: "title-btn" %>
          <%= link_to "New Game", "/persos/new", class: "title-btn" %>
          <%= link_to "Load Game", "/persos", class: "title-btn" %>
          <%= link_to "Options", "#", class: "title-btn" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "title-btn" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "title-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
