<div class="dark-bkg">
  <div class="centered-container">
    <div class="perso-form">
      <h3>Personnalise your character :</h3>
      <%= form_for(@perso) do |f| %>
        <%= f.label :"Chose a pseudo", class: "perso-label" %>
        <%= f.text_field :pseudo, class: "perso-field" %>
        <%# race and class to add %>
        <%= f.button :Play!, class: "perso-btn" %>
      <% end %>
    </div>
    <%= link_to "Back to Menu", "/", class: "back-btn" %>
  </div>
</div>
